.section {
  max-width: 800px;
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.section p {
  color: var(--primary-lt);
}

.email {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  position: relative;
}

.email div {
  position: relative;
}

.email a {
  color: var(--secondary);
  font-weight: bold;
}

.email img {
  /* this convert from black to var(--primary)  */
  filter: invert(56%) sepia(68%) saturate(4137%) hue-rotate(149deg)
    brightness(95%) contrast(101%);
}

.email span {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  color: var(--primary-lt);
  background-color: #111;
  padding: 0.5rem;
  border-radius: 4px;
  left: 50%;
  bottom: 150%;
  transform: translate(-50%, 0);
}

.email img:hover {
  cursor: pointer;
  pointer-events: all;
}

.showTooltip {
  opacity: 1 !important;
  transition: opacity 500ms;
}
