.backdrop {
  width: 100vw;
  height: 100vh;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(5px) brightness(0.7);

  visibility: hidden;
}

.isOpen {
  visibility: visible;
}

.aside {
  /* display: flex; */
  justify-content: center;
  align-items: center;

  width: 300px;
  max-height: 100vh;
  min-height: 100vh;

  position: absolute;
  right: 0;
  top: 0;

  z-index: 2;
  background: #000;
}

.closeButton img {
  filter: invert(56%) sepia(68%) saturate(4137%) hue-rotate(149deg)
    brightness(95%) contrast(101%);

  position: absolute;
  top: 20px;
  right: 20px;
}
