@media (prefers-color-scheme: dark) {
  :root {
    --base-clr: #222831;
    --base-clr-lt: #222831aa;
    --base-clr-ltr: #393e46;

    --primary: #eeeeee;
    --primary-lt: #eeeeee99;
    --primary-ltr: #eeeeee66;

    --secondary: #00adb5;
    --secondary-lt: #00adb5cc;
    --secondary-ltr: #00adb5aa;

    --header-height: 100px;
    --footer-height: 84px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--primary);
  background: var(--base-clr);
}

.noScroll {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--base-clr);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #393e46;
  border-radius: 4px;
}
