@media (prefers-color-scheme: dark) {
  :root {
    --primary: #222831;
    --secondary: #393e46;
    --colooor: #00adb5;
    --font-color: #eeeeee;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--font-color));
  background: rgb(var(--primary));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
