@media (prefers-color-scheme: dark) {
  :root {
    --base-clr: #222831;
    --base-clr-lt: #222831;
    --base-clr-ltr: #393e46;

    --primary: #eeeeee;
    --primary-lt: #eeeeee99;
    --primary-ltr: #eeeeee66;

    --secondary: #00adb5;
    --secondary-lt: #00adb5cc;
    --secondary-ltr: #00adb5aa;

    --header-height: 100px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary);
  background: var(--base-clr);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
