.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  min-height: 100vh;
  gap: 5rem;
}

.main hr {
  width: 30%;
  border-color: var(--primary-ltr);
  border-bottom: none;
}

.main h1 {
  font-size: 3rem;
  color: var(--secondary);
  margin-bottom: 0.5rem;
}

.footer {
  text-align: center;
  padding: 2rem;
  font-weight: 300;
}
