.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  min-height: 100vh;
}

.main hr {
  width: 30%;
  border-color: var(--primary-ltr);
  border-bottom: none;
}

.main h1 {
  font-size: 3rem;
  color: var(--secondary);
  margin-bottom: 0.5rem;
}

.main section {
  padding: var(--header-height) 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--footer-height);
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--primary-lt);
}
