.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section > div {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.section h1 {
  text-align: center;
}

.section h2 {
  font-weight: 600;
}

.job {
  min-width: 450px;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary-ltr);
  padding: 2rem;
  border-radius: 8px;
  gap: 0.5rem;
}

.job a {
  color: var(--secondary);
  font-size: 1.2rem;
  width: fit-content;
}

.job > p {
  color: var(--primary-lt);
  font-weight: 300;
}

.job ul {
  list-style-type: circle;
  color: var(--primary-lt);
  margin-left: 1rem;
}

.job li::marker {
  color: var(--secondary);
}

.techs {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 0.5rem;
}

.techs div {
  border: 1px solid var(--secondary-lt);
  border-radius: 3px;

  padding: 0.5rem;
  color: var(--primary-lt);
  font-weight: bold;
}

@media (max-width: 768px) {
  .job {
    min-width: 200px;
  }
}
