.section {
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-self: flex-start;
  height: 90vh;
  padding: 0 3rem;
  margin-left: 4rem;
}

.section h1 {
  margin-bottom: 0 !important;
}

.section h2 {
  color: var(--secondary-lt);
  margin-top: -0.5rem;
}

.section p {
  color: var(--primary-lt);
  margin-top: 1rem;
}
