.list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 2rem;

  padding: 0.5rem 1rem;
  list-style: none;
}

@media (max-width: 768px) {
  .headerList {
    display: none;
  }

  .menuButton {
    display: block;
  }
}

.list li {
  counter-increment: item;
}

.list li:hover {
  color: var(--secondary);
  transition: color 100ms;
}

.list li::before {
  content: '0' counter(item) '. ';
  color: var(--secondary);
}

.headerList {
  flex-direction: row;
}
